@import "tailwindcss";
@theme {
  --default-font-family: "Poppins", sans-serif;
  --size-header: 24px;
  --size-text-1: 16px;
  --size-text-2: 14px;

  --font-weigth-1: 600;
  --font-weight-2: 400;
  --font-weight-3: 200;

  --bg-active-navlink: rgba(25, 41, 124, 30%);
  --primary-color: #19297c;
  --primary-color-hover: ;
  --text-primary-color: #19297c;
  --text-color: #333333;
  --background-color: #fff;
  --secondary-background-color: #f7f7f7;
  --border-color: #a3a3a3;
  --border-color-2: rgba(202, 202, 202, 50%);
  --border-radius: 8px;
  --border: 1px solid var(--border-color);
  --box-shadow: 2px 2px 6px rgba(0, 0, 0, 20%);
  --color-edit: #ffdc00;
  --bg-edit: rgba(251, 217, 0, 20%);
  --color-delete: #ff0004;
  --bg-delete: rgba(255, 0, 4, 20%);
  --color-detail: #5fc7ff;
  --bg-detail: rgba(95, 199, 255, 20%);
  --color-status: #00ff00;
  --bg-status: rgba(0, 255, 25, 20%);
}

body {
  font-family: var(--default-font-family);
}

input:focus {
  outline: none;
  color: var(--text-color);
}

#forgetPassword:hover {
  text-decoration: underline;
}

#button {
  transition: 0.2s ease-in;
}

#button.primary {
  background-color: var(--primary-color);
}

#button.secondary {
  background-color: var(--secondary-background-color);
}

#button.primary:hover {
  background-color: #495dc1;
}

#button.secondary:hover {
  background-color: #505050;
}

.border-1 {
  border-width: 1px;
}

.font-poppins {
  font-family: var(--default-font-family);
}

.navlink-active {
  background-color: var(--bg-active-navlink);
  color: var(--primary-color);
}

.no-hover:hover {
  background-color: inherit !important;
}

#d-sudah-bayar {
  background-image: url("/public/bg-sudah-bayar.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#d-belum-bayar {
  background-image: url("/public/bg-belum-bayar.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pro-sidebar .pro-menu-item {
  color: var(--text-color) !important;
  font-size: var(--size-text-2) !important;
  border-radius: 10px !important;
}

.pro-sidebar .pro-menu-item:hover {
  background-color: var(--bg-active-navlink) !important;
  color: var(--primary-color) !important;
  border-radius: 10px !important;

}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  @page {
    size: 80mm auto;
    margin: 0;
  }

  /* Pastikan semua warna latar tetap tercetak */
  .print-bg {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
