@import "tailwindcss";
@theme {
  --default-font-family: "Poppins", sans-serif;
  --size-header: 24px;
  --size-text-1: 16px;
  --size-text-2: 14px;

  --font-weigth-1: 600;
  --font-weight-2: 400;
  --font-weight-3: 200;

  --bg-active-navlink : rgba(25,41,124,30%)
  --primary-color: #19297C;
  --primary-color-hover: ;
  --text-primary-color: #19297C;
  --text-color: #333333;
  --background-color: #fff;
  --secondary-background-color: #8c8c8c;
  --border-color: #A3A3A3;
  --border-radius: 10px;
  --border: 1px solid var(--border-color);
  --box-shadow: 2px 2px 6px rgba(0,0,0,20%);
} 

body {
  font-family: var(--default-font-family);
}

input:focus {
  outline: none;
  color: var(--text-color);
}

#forgetPassword:hover {
  text-decoration: underline;
}

#button {
  transition: .2s ease-in;
}

#button.primary {
  background-color: var(--primary-color);
}

#button.secondary {
  background-color: var(--secondary-background-color);
}

#button.primary:hover {
  background-color: #495dc1;
}

#button.secondary:hover {
  background-color: #505050;
}

.border-1 {
  border-width: 1px;
}

.font-poppins {
  font-family: var(--default-font-family);
}

.navlink-active {
  background-color: var(--bg-active-navlink);
  color: var(--primary-color);
}